* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-me {
    display: flex;
    justify-content: center;
    background-image: url("https://i.imgur.com/4ZLaIun.jpg");
    background-size: auto;
}

.about-me p {
  padding: 10px;
  margin: auto;
}


header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    background-color: black;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
  border-radius: 15px;
  text-shadow: none;
  background: royalblue;
  color: #39a6b2;
}

section {
    padding: 60px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:paleturquoise;
    margin: auto;
}

footer {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    background: black;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: whitesmoke;
    font-size: 30px;
    margin: 0;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.project {
  margin: 0 auto 20px auto;
  background:steelblue;
  color:whitesmoke;
  flex: 1;
  border: solid 3px black;
}
 
.project div {
  margin: 0 auto 20px auto;
}


.project-info img {
    margin-right: auto;
    display: block;
    margin-left: auto;
    width: 100%;
    background:steelblue;
    border: solid 3px black;
  }

  .project-img :hover {
    background: #fce138;
    color: #024e76;
    border-radius: 15px;
  }

  .contact-me {
    color: black;
    text-decoration: black;
  }

.contact-me nav {
    float: right;
    margin: 7px 0;
}

.contact-me nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .contact-me nav ul li {
      display: inline;
  }
  
  .contact-me nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .contact-me nav ul li a:hover {
    background:purple;
    color: red;
    border-radius: 15px;
    text-shadow: none;
  }


/* Project info */
.project {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 40%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
  }

  .project1 {
    padding-top:40px;
    padding: 20px;
    width:500px;
    margin: auto 20px;
    text-align:center;
    vertical-align: auto;
  }

  .project1 {
    display:inline-block;
  }


  .flex-row {
    display: flex;
  }

  .resume-click button {
    color:white;
    background-color:black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
  }

  .resume-click button:hover {
    background-color: #39a6b2;  
  }


  .resume {
    border: solid 3px black;
    background-color: steelblue; 
    padding: 20px;
    color: black;
    width: 20%;
    margin: 3.5%;
    border-radius: 15px;
    text-align: center;
}



  /* Media Query for mobile devices/ tablets */

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }

    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }

@media screen and (max-width: 768px) {

    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
  }


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}
